# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smodfa

# C
ompiled Static libraries
*.lai
*.la
*.a1-3
using namespace stz
  cin >> s;
  cout << s << endl;
  system("pause");
  return 0;
}
*.lib

# Executables
*.exe
*.out
*.app
